[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "~=0.0.292"
streamlit-chat = "*"
streamlit_option_menu = "*"
boto3 = "*"
streamlit-extras = "*"
chromadb = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.9"
